<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PichonCommerce</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <header>
            <h3>PichonCommerce</h3>
            <button class="cart" v-on:click="cartOpen = !cartOpen">Carro(0)</button>
            <div class="cart-content" v-show="cartOpen">
                <div class="cart-content__product" v-for="(product,index) in cart" :key="product.name" :class="{'bg-gray':index&1}">
                    <img v-bind:src="product.images[0].image" :alt="product.name">
                    <span>{{product.name}} - {{new Intl.NumberFormat("en-us").format(product.price)}}</span> 
                </div>
                
            </div>
        </header>
        <main>
            <section class="product">
                <div class="product__thumbnails">
                    <div 
                        v-for="(image,index) in product.images"
                        :key="image.thumbnail"
                        class="thumb"
                        :class="{active: activeImage==index}"
                        :style="{backgroundImage: 'url(' +product.images[index].thumbnail+ ')'}"
                        @click="activeImage = index"
                    ></div>
                    
                </div>
                <div class="product__image">
                    <img :src="product.images[activeImage].image" alt="product.name">
                </div>
            </section>
            <section class="description">
                <h4>{{product.name}} {{product.stock==0 ? "👀" : "😁"}}</h4>
                <p>{{product.price}} $</p>
                <br>
                <span class="badge new" v-if="product.new">Nuevo</span>
                <span class="badge offer" v-if="product.offer">Oferta</span>
                <p v-show="product.offer">hola chicassss</p>
                <p class="description__status" v-if="product.stock>=2"> Quedan pocos unidades, apurate!</p>
                <p class="description__status" v-else-if="product.stock==1"> Queda una unidad</p>
                <p class="description__status" v-else-if="product.stock==0"> No quedan unidades</p>
                <p class="description__price"></p>
                <p class="descripton__content"></p>
                <div class="discount">
                    <span>Codigo de Descuento:</span>
                    <input type="text" placeholder="Ingrese un codigo!" @keyup.enter="applyDiscount($event)"/>
                </div>
                <button :disabled="product.stock==0" @click="addToCart()">Agregar al carrito</button>
            </section>
        </main>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const {createApp, ref, reactive, toRefs} = Vue 
        const app = createApp({
            setup(){
                const productState = reactive ({
                    product: {
                        name: "Camara",
                        price: 12345,
                        stock: 3,
                        content: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium qui et fugit neque tempora provident doloremque at, accusamus sequi voluptatibus, saepe vero ab ipsam culpa unde beatae, molestiae aut facilis!",
                        images:[
                            {
                                image:"./imagenes/foto1.jpg",
                                thumbnail:"./imagenes/foto3.jpg"
                            },
                            {
                                image:"./imagenes/foto2.jpg",
                                thumbnail:"./imagenes/foto2.jpg"
                            }
                        ],
                        new: true,
                        offer: false
                    },
                    activeImage: 0,
                });
                const cartState = reactive({
                    cartOpen: false,
                    cart:[]
                });
                const discountCodes=ref(["bebita","adaug"]);
                function applyDiscount(event){
                    var discountCodeIndex = discountCodes.value.indexOf(event.target.value);
                    if (discountCodeIndex>=0){
                        productState.product.price/=2;
                        discountCodes.value.splice(discountCodeIndex,1)
                    }
                }
                function addToCart(){
                    const productIndex = cartState.cart.indexOf(prod => prod.name == productState.product.name);
                    if(productIndex<0){
                        cartState.cart.push(productState.product);
                    }else{
                        cartState.cart[productIndex].quantity+=1;
                    }
                    productState.product.stock-=1;
                }
                setTimeout(() => {
                    productState.activeImage=1;
                },2000);
                return {
                    ...toRefs(productState),

                    ...toRefs(cartState),
                    applyDiscount,
                    addToCart
                };
            }
            
        })
        app.mount('#app')
    </script>
</body>
</html>